{
    # Global options block
    admin off  # Disable admin interface
    auto_https off # Disable HTTPS since Cloudflare handles it
}

# Main site configuration
:80 {
    reverse_proxy wordpress:80 {
        header_up {host}

        # Let WordPress know this was originally an HTTPS request
        header_up X-Forwarded-Proto "https"
}
    encode gzip
    log {
        output stdout
    }
}